{% extends 'base.html.twig' %}

{% block title %}Ebook{% endblock %}

{% block body %}
{{ include('expert/navExpert.html.twig') }}
<div class="container-fluid wrapperPresta text-center">
    {{ include ('entrepreneur/picturePresta.html.twig')}}
    <img class="w-50" src="/uploads/illustrationEbook/{{ ebook.illustration }}"
                        alt="{{ ebook.illustration }}">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>
                    <h1 class="mt-5">{{ ebook.title }}</h1>
                    <p><i class="far fa-calendar-alt"></i> Date de publication: {{ ebook.releaseDate ?
                        ebook.releaseDate|date('d M Y') : '' }} <br>
                        {% if ebook.author is not null %}
                        De {{ebook.author}}
                        {% endif %} <br>
                    <p> {{ebook.expertise}}</p>
                    </p>
                    <p> Editeur {{ ebook.editorName }}</p>
                    <p> Nombre de téléchargements : {{nbDownloads}}</p>
                    <p>{{ ebook.description }}</p>
                    <p>{% if ebook.isValidated == true %}
                        <p><i class="fas fa-check-square color-letter"></i> Ebook validé par l'administrateur</p>
                        {% else %}
                        <p><i class="fas fa-sync-alt color-letter"></i> Ebook en cours de validation</p>
                        {% endif %}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ path('expert_ebook_edit', {'id': ebook.id}) }}">
            <button type="button" class="btn btn-inscription mb-3"><i class="far fa-edit"></i> Editer</button>
        </a>
        <a href="{{ path('expert_ebook') }}">
            <button type="button" class="btn btn-inscription nav-link">Retour</button>
        </a>
    </div>
</div>
{% endblock %}