{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<div class="container-fluid subnav-bg">
    <div class="row justify-content-around align-items-center p-2">
        <div class="text-center col-lg-10 ml-5">
            <h1 class="text-subnav m-3">Découvrez tous nos ebooks</h1>
        </div>
        <div class="col-lg-1">
            <svg width="90" height="72" viewBox="0 0 90 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M37.8183 12.1373L61.5 1.10322L85.1817 12.1373V33.8627L61.5 44.8968L37.8183 33.8627V12.1373Z"
                    stroke="#000000" stroke-width="2" />
                <path d="M3.21058 50.864L16.5 44.1213L29.7894 50.864V64.136L16.5 70.8787L3.21058 64.136V50.864Z"
                    stroke="#000000" stroke-width="2" />
            </svg>
        </div>
    </div>
</div>
<div class="container-fluid pb-5">
    <div class="row mt-5 mx-auto">
        <div class="col-lg-3 col-md-4 col-sm-10 card-filter pt-3 mx-auto">
            {{form_start(searchForm, {attr: {class:'filter'}})}}
            <div class="pl-2 pt-2">
            <h2><span class="color-letter">F</span>iltres</h2>
            {{form_row(searchForm.q)}}
            </div>
            <div class="accordion" id="accordionExample">
                <div>
                    <div id="headingOne">
                        <hr>
                        <button class="btn text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <h4><span class="color-letter">E</span>xpertises</h4>
                        </button> <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            {{ form_row(searchForm.expertise)}}
                        </div>
                    </div>
                </div>
                <div>
                    <div id="headingTwo">
                        <hr>
                        <button class="btn text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h4><span class="color-letter">D</span>ate de sortie</h4>
                        </button> <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div>
                                {{ form_row(searchForm.from)}}
                                {{ form_row(searchForm.to)}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pb-3 pt-3">
                <hr>
                <button type="submit" class="btn btn-inscription"> Rechercher</button>
            </div>
            {{form_end(searchForm)}}
        </div>
        <div class="col-lg-8 col-md-8">
            <div class="row">
                {% for ebook in ebooks %}
                {% if ebook.isValidated == true %}
                {% include 'home/ebooks_card.html.twig' with {ebook: ebook} only %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(ebooks) }}
            </div>
        </div>
    </div>
</div><hr>
{% endblock %}