<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 my-3 pr-5">
    <div>
        <div class="text-center">
            <a href="{{path ('home_ebook_show', {'id': ebook.id})}}" class="link-for-show-img">
                <img src="https://i.postimg.cc/nh9LpHW8/livre-blanc-l-1-1.png" class="card-img-top"
                    style="width: 13rem;" alt="...">
        </div>
        <div class="text-center">
            <button class="btn border-pres pl-3 pr-3">
                <h4>
                    {{ebook.expertise}}
                </h4>
            </button>
        </div>
        </a>
        <div class="card-body ml-2">
            <a href="{{path ('home_ebook_show', {'id': ebook.id})}}" class="link-for-show">
                <h2>
                    {{ebook.title}}
                </h2>
            </a>
            <h5 class="color-editor">Editeur {{ebook.editorName}}</h5>
            <p class="pt-1">
                {% if ebook.author is not null %}
                De {{ebook.author}}<br>
                {% endif %}
                <i class="far fa-calendar-alt"></i> {{ebook.releaseDate|date('d M Y')}}
            </p>
        </div>
    </div>
</div>