<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 my-4">
    <div class="card-border">
        <a href="{{path ('home_expert_show', {'id': expert.id})}}" class="link-for-show-img">
            <img src="/uploads/banner/{{ expert.banner }}"
                class="card-img-top" alt="...">
            <div class="text-right color-provider mr-3">
                <button class="btn border-pres pl-3 pr-3">
                    <h4>
                        {{expert.provider}}
                    </h4>
                </button>
            </div>
        </a>
        <div class="card-body">
            {% if expert.companyName is not null %}
            <a href="{{path ('home_expert_show', {'id': expert.id})}}" class="link-for-show">
                <h2>
                    {{expert.companyName}}
                </h2>
            </a>
            {% else %}
            <a href="{{path ('home_expert_show', {'id': expert.id})}}" class="link-for-show">
                <h2>
                    {{expert.firstname}} {{expert.lastname}}
                </h2>
            </a>
            {% endif %}
            <div class="text-right">
                <p>{{expert.town}}</p>
            </div>
            {% for expertise in expert.expertise %}
            <p class="text text-muted">
                <i class="fas fa-check color-expertise"></i> {{expertise.name}}
            </p>
            {% endfor %}
        </div>
    </div>
</div>