{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container-fluid subnav-bg">
    <div class="row justify-content-around align-items-center">
        <div class="text-center col-10">
            <h1 class="text-subnav m-3"></h1>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2 card-filter pt-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ74iCm-S7O9ouJVYLDlXjdEKziiVAQOeiX6g&usqp=CAU"
                class="img-fluid" alt="...">
            <hr>
            <h4><span class="color-letter"> A </span><a href="#A PROPOS DE NOUS" style="color:#000000;">propos de
                    nous</a></h4>
            <hr>
            <h4><span class="color-letter"> N</span><a href="#E-BOOKS" style="color:#000000;">os E-Book</a></h4>
            <hr>
            <h4><span class="color-letter"> N</span><a href="#NOS SERVICES" style="color:#000000;">os services</a></h4>
            <hr>
            <h4><span class="color-letter"> C</span><a href="#CONTACTEZ NOUS" style="color:#000000;">ontactez cet
                    expert</a></h4>
            <hr>
        </div>

        <div class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                    src="https://ecobnb.fr/blog/app/uploads/sites/7/2020/07/cop-alpaca.jpg"
                                    alt="First slide">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 ">
                <br>
                <h1> {{user.firstname }} {{user.lastname}}</h1>
                <h6> {{user.companyName}} , {{user.town}}. </h6>
                <br>
                <br>


                <section id="A PROPOS DE NOUS">
                    <h1>A PROPOS DE NOUS</h1>
                    <hr>
                    <br>
                    <br>
                    <br>
                    <div class="mt-10">
                        <div class="container-fluid wrapperExpertDescri">
                            <div class="pictureExpert">
                                <img id='profil'
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RWoFDN0xBYQ4-ihcpE9jCteDuyxaHctblw&usqp=CAU">
                            </div>
                            <div class="card-deck">
                                <p3> {{user.description}} </p3>
                            </div>
                        </div>
                    </div>
                </section>
                <br>
                <br>
                <section id="E-BOOKS">
                    <h1>E-BOOKS</h1>
                    <hr>
                    <div class="wrapperExpert">
                        <div class="mt-10">cd
                            <h3>ebook.titre</h3>
                        </div>
                        <p> ebook.releaseDate</p>
                        <br>
                        <p> ebook.decription </p>

                        <a href="#">
                            <button type="button" class="btn btn-inscription nav-link mt-5">Télécharger</button>
                        </a>
                    </div>
                </section>
                <br>
                <br>
                <section id="NOS SERVICES">
                    <h1>NOS SERVICES</h1>
                </section>
                <hr>
                <br>
                <br>
                <section id="CONTACTEZ NOUS">
                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="well well-sm">
                                <form class="form-horizontal" action="" method="post">
                                    <fieldset>
                                        <legend class="text-center"><h1>CONTACTEZ NOUS</h1></legend>

                                        <!-- Name input-->
                                        <div class="form-group">
                                            <label class="col-md-6 control-label" for="name">Votre nom</label>
                                            <div class="col-md-12">
                                                <input id="name" name="name" type="text" placeholder="Votre nom"
                                                    class="form-control">
                                            </div>
                                        </div>

                                        <!-- Email input-->
                                        <div class="form-group">
                                            <label class="col-md-6 control-label" for="email">Votre E-mail</label>
                                            <div class="col-md-12">
                                                <input id="email" name="email" type="text" placeholder="Votre E-mail"
                                                    class="form-control">
                                            </div>
                                        </div>

                                        <!-- Message body -->
                                        <div class="form-group">
                                            <label class="col-md-6 control-label" for="message">Votre message</label>
                                            <div class="col-md-12">
                                                <textarea class="form-control" id="message" name="message"
                                                    placeholder="Entrez votre message ..." rows="5"></textarea>
                                            </div>
                                        </div>

                                        <!-- Form actions -->
                                        <div class="form-group">
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="btn btn-warning btn-lg">Envoyer</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


</html>
{% endblock %}