<div class="col-lg-5 col-md-6 col-sm-12 my-3">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="text-center border-pres color-provider">
            <h5>
                {{expert.provider}}
            </h5>
        </div>
        <div class="card-body">
            {% if expert.companyName is not null %}
            <h1>
                {{expert.companyName}}
            </h1>
            {% else %}
            <h1>
                {{expert.firstname}} {{expert.lastname}}
            </h1>
            {% endif %}
                <div class="text-right">
                    <p>{{expert.town}}</p>
                </div>
            {% for expertise in expert.expertise %}
            <p class="text text-muted">
                {{expertise.name}}
            </p>
            {% endfor %}
        </div>
    </div>
</div>