<div class="wrapperExpert">
    <div>
        <h2>{{ebook.title}}</h2>
        <h5 class="color-editor">Editeur {{ebook.editorName}}</h5>
        <p class="text-right text-muted"><i class="far fa-calendar-alt color-icon-grey"></i> Date de publication :
            {{ebook.releaseDate|date("d M Y")}}<br>
            {% if ebook.author is not null %}
            De {{ebook.author}}
            {% endif %}
        </p>
        <table class="table table-borderless table-responsive{-sm|-md|-lg|-xl}">
            <tbody>
                <tr>
                    <th scope="row">
                        <img src="/uploads/illustrationEbook/{{ ebook.illustration }}" 
                            class="card-img-top" style="width: 8rem;" alt="{{ ebook.illustration }}">
                        <button type="button" class="btn btn-connexion d-lg-none d-md-none d-sm-none"
                            data-toggle="modal" data-target="#modal-{{ebook.id}}">
                            En savoir plus <i class="fas fa-arrow-right"></i>
                        </button>
                        {% if ebook.documentEbook is not empty %}
                            <button type="button" class=" btn btn-inscription" data-toggle="modal"
                            data-target="#modalRGPD">Télécharger</button>
                        {% endif %}
                    </th>
                    <td>
                        <p class="d-none d-sm-block">{{ebook.description}}</p><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-{{ebook.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ebook.id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-{{ebook.id}}">{{ebook.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="color-expertise"><i class="fas fa-check"></i> {{ebook.expertise}}</h5>
                <p>{{ebook.description}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-connexion" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour les CGU / RGPD -->
{% if app.user %}
<div class="modal fade" id="modalRGPD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conditions de téléchargement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>En cliquant sur le bouton télécharger,
                    vous acceptez que vos coordonnées soient communiquées à l'expert qui a publié cet ebook</p>       
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a href="{{path ('ebook_download', {'id': ebook.id})}}">
                    <button class="btn btn-inscription">{{ button_label|default('Télécharger') }}</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="modal fade" id="modalRGPD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connectez-vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vous êtes intéressé par cet ebook ? </br>
                    Inscrivez-vous ou connectez-vous pour pouvoir le télécharger </p>      
            </div>
            <div class="modal-footer">
                <a href="{{path('app_login')}}">
                    <button type="button" class="btn btn-connexion ml-5">Connexion</button>
                </a>
                <a href="{{path('app_register_entrepreneur')}}">
                    <button type="button" class="btn btn-inscription ml-5">S'inscrire</button>
                </a>
            </div>
        </div>
    </div>
</div>