{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="jumbotron m-5 color-inscription form-bg-login">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="color-connexion">Inscription</h1>

    {{ form_start(registrationForm) }}
    <label for="typeOfUser" class="form-label">Je suis un.e </label>
        {{ form_widget(registrationForm.typeOfUser, { 
                    "attr": {"class": "form-select my-2"}
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="text-center">
        <button type="submit" class="btn btn-inscription">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
