{% extends 'base.html.twig' %}

{% block title %}Mes Ebooks {% endblock %}

{% block body %}
{{ include('entrepreneur/_navEntrepreneur.html.twig') }}
<div class="container-fluid wrapperPresta text-center">
  <div class="picturePresta">
    <img id='profil' src="/uploads/profile_picture/{{ user.profilePicture }}" alt="photo de profil">
  </div>
  <table class="table table-hover table-borderless table-responsive{-sm|-md|-lg|-xl}">
    <tbody>
      <tr>
        <th>
          <h3 class="text-subnav"><span class="color-letter">T</span>itre</h3>
        </th>
        <th>
          <h3 class="text-subnav"><span class="color-letter">E</span>xpertise</h3>
        </th>
        <th>
          <h3 class="text-subnav"><span class="color-letter">D</span>ate de téléchargement</h3>
        </th>
        <th colspan="2">
          <h3 class="text-subnav"><span class="color-letter">A</span>ction</h3>
        </th>
      </tr>
      {% for download in downloads|reverse %}
      <tr>
        <td>{{download.ebook.title}}</td>
        <td>{{download.ebook.expertise}} </td>
        <td>{{download.downloadedAt|date('d D M Y')}} </td>
        <td><i class="fal fa-eye color-letter clickable" data-toggle="modal" data-target="#ebookModal-{{download.ebook.id}}"></i></td>
        <td><a href="{{path ('ebook_download', {'id': download.ebook.id})}}"><i class="fas fa-download color-letter"></i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="navigation">
    {{ knp_pagination_render(downloads) }}
  </div>
</div>

<!-- Modal -->
{% for download in downloads %}
<div class="modal fade" id="ebookModal-{{download.ebook.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">{{download.ebook.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="color-expertise">{{download.ebook.expertise}}</h5>
                <p>{{download.ebook.description}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-connexion" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}