{% extends 'base.html.twig' %}

{% block title %}Mon profil {% endblock %}

{% block body %}
{{ include('entrepreneur/_navEntrepreneur.html.twig') }}
<div class="container-fluid wrapperPresta d-flex justify-content-center">
  <div class="media">
    {% include 'design_form_yellow.html.twig'%}
    <div class="media-body">
      <h1 class="mt-0 text-subnav"><span class="color-letter">B</span>ienvenue dans votre compte {{user.firstname}} !
      </h1>
      <p>Dans cet espace, vous pouvez :
      <ul>
        <li>Modifier vos <a href="{{ path('entrepreneur_profil')}}"><span class="color-letter">informations
              personnelles</span></a>,</li>
        <li>Accéder aux <a href="{{ path('entrepreneur_ebook')}}"><span class="color-letter">ebooks</span></a> que vous
          avez téléchargés,</li>
        <li>Consulter vos <a href="{{ path('entrepreneur_messagerie')}}"><span class="color-letter">messages</span></a>.
        </li>
      </ul>
      </p>
      <a href="{{path ('home_ebooks')}}">
        <button type="button" class=" btn btn-inscription">Télécharger un ebook</button>
      </a>
      <a href="{{path ('home_experts')}}">
        <button type="button" class=" btn btn-inscription">Contacter un expert</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}