{% extends 'base.html.twig' %}

{% block title %}Mon profil {% endblock %}

{% block body %}
{{ include('entrepreneur/_navEntrepreneur.html.twig') }}
<div class="container-fluid wrapperPresta">
  <div class="picturePresta">
    <img id='profil' src="/uploads/profile_picture/{{ user.profilePicture }}" alt="photo de profil">
  </div>
  <div class="mt-5">
    <h3 class="text-subnav"><span class="color-letter">I</span>nformation personnelles</h3>
  </div>
  <div class="card-deck">
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      {{ user.firstname }}
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      {{ user.lastname }}
    </div>
  </div>
  <div class="card-deck">
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      {{ user.email }}
    </div>
    <div class="card mb-3 alert alert-light rounded-pill" role="alert">
      {{ user.phone }}
    </div>
  </div>
  <div class="alert alert-light rounded-pill" role="alert">
    {{ user.adress }}
  </div>
  <div class="card-deck">
    <div class="card mb-3 alert alert-light rounded-pill" role="alert">
      {{ user.zipcode }}
    </div>
    <div class="card mb-3 alert alert-light rounded-pill" role="alert">
      {{ user.town }}
    </div>
  </div>
  <a href="{{ path('entrepreneur_edit', {'id': user.id}) }}">
    <button type="button" class="btn btn-inscription nav-link mt-5">Editer mon profil</button>
  </a>
</div>
{% endblock %}
