{% extends 'base.html.twig' %}

{% block title %}Mes Messages {% endblock %}

{% block body %}
{{ include('entrepreneur/_navEntrepreneur.html.twig') }}
<div class="container-fluid wrapperPresta text-center">
  {{ include ('entrepreneur/picturePresta.html.twig')}}
  {% if contact.user.lastname is empty %}
  {% else %}
  <h3 class="text-subnav"><span class="color-letter">N</span>om</h3>
  <div class="card mb-3 alert alert-light rounded-pill" role="alert">
    {{contact.user.lastname}}
  </div>
  {% endif %}
  {% if contact.user.firstname is empty %}
  {% else %}
  <h3 class="text-subnav"><span class="color-letter">P</span>rénom</h3>
  <div class="card mb-3 alert alert-light rounded-pill" role="alert">
    {{contact.user.firstname}}
  </div>
  {% endif %}
  {% if contact.user.companyName is empty %}
  {% else %}
  <h3 class="text-subnav"><span class="color-letter">E</span>ntreprise</h3>
  <div class="card mb-3 alert alert-light rounded-pill" role="alert">
    {{contact.user.companyName}}
  </div>
  {% endif %}
  <h3 class="text-subnav"><span class="color-letter">E</span>mail</h3>
  <div class="card mb-3 alert alert-light rounded-pill" role="alert">
    {{contact.user.email}}
  </div>
  <h3 class="text-subnav"><span class="color-letter">S</span>ujet</h3>
  <div class="card mb-3 alert alert-light rounded-pill" role="alert">
    {{contact.subject}}
  </div>
  <h3 class="text-subnav"><span class="color-letter">M</span>essage</h3>
  <div class="card mb-3 alert alert-light rounded" role="alert">
    {{contact.message}}
  </div>
  <a href="{{ path('entrepreneur_messagerie')}}">
    <button type="button" class="btn btn-inscription nav-link mt-5">Retour</button>
  </a>
</div>
{% endblock %}