<div class="m-2">
    <h1 class="color-text-white"><span class="color-letter">G</span>estion de votre page expert</h1>
</div>
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="text-center color-text-white">
    <button type="submit" class="btn btn-inscription nav-link mt-5 text-center">{{ button_label|default('Enregistrer')
        }}</button>
    <a href="{{ path('prestataire_expertPage')}}">
        <button type="button" class="btn btn-inscription nav-link mt-5 text-center">Retour</button>
    </a>
</div>
{{ form_end(form) }}