{% extends 'base.html.twig' %}

{% block title %}Mes Ebooks {% endblock %}

{% block body %}

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{{ path('prestataire_profil') }}"><button type="button"
        class="btn btn-profil ml-5"> Profil</a></button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('prestataire_ebook') }}"><button type="button" class="btn btn-profil ml-5">
        Ebook</a></button>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('prestataire_messagerie') }}"><button type="button" class="btn btn-profil ml-5">
        Messagerie</a></button>
  </li>
</ul>
<div class="container-fluid wrapperPresta">
  <div class="picturePresta">
    <img id='profil' src="/uploads/profile_picture/{{ user.profilePicture }}" alt="photo de profil">
  </div>
  <div class="card-deck">
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Titre
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Expertise
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Date d'ajout
    </div>

    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Téléchargements
    </div>
    <div class="card alert alert-light mb-3 rounded-pill" role="alert">
      Actions
    </div>
  </div>
  <div class="card alert alert-light mb-3 rounded-pill" role="alert">
    Téléchargements
  </div>
  <div class="card alert alert-light mb-3 rounded-pill" role="alert">
    Actions
  </div>
</div>
<tbody>
  {% for ebook in ebooks %}
  <tr>
    <td><img class="align-self-start mr-3 w-50" src="/uploads/illustrationEbook/{{ ebook.illustration }}"
        alt="{{ ebook.illustration }}"></td>
    <td>
      {% if ebook.isValidated == true %}
      <p><i class="fas fa-check-square"></i> Ebook validé par l'administrateur</p>
      {% else %}
      <p><i class="fas fa-sync-alt"></i> Ebook en cours de validation</p>
      {% endif %}
    </td>
    <td>{{ebook.title}}</td>
    <td>{{ebook.author}} </td>
    <td>{{ebook.editorName}} </td>
    <td><a href="{{ path('prestataire_ebook_show', {'id': ebook.id}) }}"> <i class="fal fa-eye color-letter"></i></a>
    </td>
  </tr>
  {% endfor %}
</tbody>
<a href="{{ path('prestataire_ebook_new')}}">
  <button type="button" class="btn btn-inscription nav-link mt-5">Ajouter un nouveau ebook</button>
</a>
</div>
{% endblock %}