{% extends 'base.html.twig' %}

{% block title %}Ebook{% endblock %}

{% block body %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="{{ path('prestataire_profil')}}"><button type="button" class="btn btn-profil ml-5"> Profil</a></button>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('prestataire_ebook')}}"><button type="button" class="btn btn-profil ml-5"> Ebook</a></button>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('prestataire_messagerie')}}"><button type="button" class="btn btn-profil ml-5"> Messagerie</a></button>
    </li>
  </ul>
<div class="container-fluid wrapperPresta text-center">
    <div class="picturePresta">
        <img id='profil' src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0RWoFDN0xBYQ4-ihcpE9jCteDuyxaHctblw&usqp=CAU">
    </div>  
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th></th>
                <td><h1>{{ ebook.title }}</h1>
                <p>Date de publication: {{ ebook.releaseDate ? ebook.releaseDate|date('Y-m-d') : '' }}</p>
                <p>{% if ebook.author is not null %}
                    De {{ebook.author}}
                    {% endif %}
                </p>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>{{ ebook.description }}</td>
            </tr>
            <tr>
                <th>EditorName</th>
                <td>{{ ebook.editorName }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ ebook.author }}</td>
            </tr>
            <tr>
                <th>IsValidated</th>
                <td>{{ ebook.isValidated ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ ebook.illustration }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('prestataire_ebook') }}">back to list</a>

    <a href="{{ path('prestataire_ebook_edit', {'id': ebook.id}) }}">edit</a>

    {{ include('prestataire/ebook_delete_form.html.twig') }}
</div>
{% endblock %}
